.productCard {
  /* box-shadow: 1px 5px 10px 1px var(--secondary); */
  text-align: center;
  min-height: 400px;
}

.productCard .priceContainer {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.productCard .card-image {
  height: 200px;
  background-color: white;
}

.productCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCard .cardSubtitle {
  margin-top: -1rem;
  text-align: center;
  color: var(--info);
  font-size: small;
}

.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: -20px;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 45px;
}

.category {
  padding: 0;
  width: 50px !important;
  height: auto !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.description {
  margin-bottom: 20px;
  white-space: pre-line;
}

.title {
  white-space: pre-line !important;
}
