.titulo {
  font-weight: bold;
}

.footer {
  background-color: #ec8213;
  color: white;
  width: 100vw;
}

.vinculo {
  padding-top: 7px;
}

.copyright {
  color: white;
  text-decoration: none;
}

.copyright:hover {
  color: blue;
  text-decoration: none;
}
